# Virtual Environment
venv/
env/
decision-ai-env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Streamlit
.streamlit/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db